$fontTitle: Nunito Sans;
$fontSubTitle: Chivo;
$fontMainText: Roboto Slab;
$mainColor: rgb(10, 11, 10);
$mainColor2: rgb(244, 249, 233);
$mainColor3: rgb(18, 22, 20);
$mainColor4: rgb(37, 41, 28);
$mainColor5: rgb(77, 8, 5);

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}