$fontTitle: Nunito Sans;
$fontSubTitle: Chivo;
$fontMainText: Roboto Slab;
$mainColor: rgb(10, 11, 10);
$mainColor2: rgb(244, 249, 233);
$mainColor3: rgb(15, 15, 15);
$mainColor4: rgb(42, 43, 41);
$mainColor5: rgb(77, 8, 5);
$mainColorNav: #171717;

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    height: 10%;
    width: 100vw;
    background-color: $mainColorNav;
    position: absolute;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
    background-color: $mainColor3;
        .img-container {
            height: 100%;
            display: flex;
            justify-content: flex-start;
            flex-flow: column wrap;
                .main-img {
                    width: 100%;
                    height: 50%;
                }
        }
}

.titles-container {
    max-width: 80%;
        .main-container-title2 {
            font-family: $fontSubTitle;
            color: $mainColor4;
            font-size: 2rem;
            letter-spacing: 2px;
            padding: 10px 0px 10px 0px;
        }
        
        .main-container-title {
            font-family: $fontMainText;
            letter-spacing: 2px;
            color: $mainColor2;
            font-size: 2.3rem;
            padding-bottom: 20px;
        }
}

.main-container-btn {
    width: 80%;
    height: 70px;
    position: relative;
    top: 45px;
    background-color: rgb(255, 255, 254);
    border-style: none;
    border-radius: 2px;
    font-family: $fontTitle;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.main-bandas {
    background-color: rgb(255, 255, 255);
}

.main-bandas-hijo-container {
    width: 90%;
    background-color: rgb(255, 255, 255);
}



.title-lineup {
    font-family: $fontSubTitle;
    padding: 20px 0px 50px 0px ;
    font-size: 3.5rem;
}

.main-bandas-container {
    display: grid;
    gap: 3rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
    padding-bottom: 5rem;

        .img-banda {
            width: 100%;
        }

        .main-banda-titulo {
            font-family: $fontSubTitle;
            padding-bottom: 1rem;
            padding-top: 1rem;
        }

        .main-banda-texto {
            font-family: $fontMainText;
        }

        .contianer-banda {
            min-height: 100%;
        }
    }









