$fontTitle: Nunito Sans;
$fontSubTitle: Chivo;
$fontMainText: Roboto Slab;
$mainColor: rgb(10, 11, 10);
$mainColor2: rgb(244, 249, 233);
$mainColor3: rgb(15, 15, 15);
$mainColor4: rgb(42, 43, 41);
$mainColor5: rgb(77, 8, 5);
$mainColor6: rgb(250, 196, 24);
$mainColorNav: #171717;

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.main-nav {
    height: 10%;
    width: 100vw;
    background-color: $mainColorNav;
    position: absolute;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column wrap;
    height: 100vh;
    background-color: $mainColor3;

    .img-container {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;

        .main-img {
            width: 100%;
            height: 50%;
        }
    }
}

.titles-container {
    max-width: 80%;

    .main-container-title2 {
        font-family: $fontSubTitle;
        color: $mainColor4;
        font-size: 2rem;
        letter-spacing: 2px;
        padding: 10px 0px 10px 0px;
    }

    .main-container-title {
        font-family: $fontMainText;
        letter-spacing: 2px;
        color: $mainColor2;
        font-size: 2.3rem;
        padding-bottom: 20px;
    }
}

.main-container-btn {
    width: 80%;
    height: 70px;
    position: relative;
    top: 45px;
    background-color: $mainColor6;
    border-style: none;
    border-radius: 2px;
    font-family: $fontTitle;
    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: bold;
}

.main-bandas {
    background-color: rgb(255, 255, 255);
}

.main-bandas-hijo-container {
    width: 90%;
    background-color: rgb(255, 255, 255);
}



.title-lineup {
    font-family: $fontSubTitle;
    padding: 20px 0px 50px 0px;
    font-size: 3.5rem;
}

.main-bandas-container {
    display: grid;
    gap: 2rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-bottom: 1rem;

    .img-banda {
        width: 100%;
    }

    .main-banda-titulo {
        font-family: $fontSubTitle;
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .main-banda-texto {
        font-family: $fontMainText;
    }
}

.songs-fastival-container-padre {
    background-color: #141313;
    position: relative;
    top: -5px;
    display: grid;
    gap: 4rem;
    grid-auto-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    padding-bottom: 1rem;


    .songs-festival-container-hijo {
        width: 70%;

        .songs-title {
            font-family: $fontSubTitle;
            font-size: 2.5rem;
            color: $mainColor2;
            padding-bottom: 2rem;
        }
    }

    .song-preview-container {
        .song-preview-container-hijo {
            padding-bottom: 2rem;
        }
    }
}

.svg-2 {
    position: relative;
    top: -5px;
}

.newsletter-main {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: center;
    width: 90%;
    padding-bottom: 3rem;

        .newsletter-main-title {
            font-family: $fontSubTitle;
            font-size: 2.5rem;
            letter-spacing: 2px;
            padding-top: 2rem;
            padding-bottom: 1.5rem;
        }

        .newsletter-subtitle {
            font-family: $fontMainText;
            font-size: 1.7rem;
            text-align: center;
            padding-bottom: 2rem;
        }

        .newsletter-subtitle-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column wrap;

                .input-text-nl {
                    width: 80%;
                    height: 3rem;
                    margin-bottom: 2rem;
                    border-style: none;
                    background-color: $mainColor4;
                    border-radius: 5px;
                    text-align: center;
                }

                .input-btn-nl {
                    width: 50%;
                    height: 3rem;
                    border-style: none;
                    background-color: $mainColor6;
                    border-radius: 5px;
                }
        }

}

