* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-nav {
  height: 10%;
  width: 100vw;
  background-color: #171717;
  position: absolute;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100vh;
  background-color: #0f0f0f;
}

.main-container .img-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.main-container .img-container .main-img {
  width: 100%;
  height: 50%;
}

.titles-container {
  max-width: 80%;
}

.titles-container .main-container-title2 {
  font-family: Chivo;
  color: #2a2b29;
  font-size: 2rem;
  letter-spacing: 2px;
  padding: 10px 0px 10px 0px;
}

.titles-container .main-container-title {
  font-family: Roboto Slab;
  letter-spacing: 2px;
  color: #f4f9e9;
  font-size: 2.3rem;
  padding-bottom: 20px;
}

.main-container-btn {
  width: 80%;
  height: 70px;
  position: relative;
  top: 45px;
  background-color: #fac418;
  border-style: none;
  border-radius: 2px;
  font-family: Nunito Sans;
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.main-bandas {
  background-color: white;
}

.main-bandas-hijo-container {
  width: 90%;
  background-color: white;
}

.title-lineup {
  font-family: Chivo;
  padding: 20px 0px 50px 0px;
  font-size: 3.5rem;
}

.main-bandas-container {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  grid-auto-rows: auto;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding-bottom: 1rem;
}

.main-bandas-container .img-banda {
  width: 100%;
}

.main-bandas-container .main-banda-titulo {
  font-family: Chivo;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.main-bandas-container .main-banda-texto {
  font-family: Roboto Slab;
}

.songs-fastival-container-padre {
  background-color: #141313;
  position: relative;
  top: -5px;
  display: -ms-grid;
  display: grid;
  gap: 4rem;
  grid-auto-rows: auto;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding-bottom: 1rem;
}

.songs-fastival-container-padre .songs-festival-container-hijo {
  width: 70%;
}

.songs-fastival-container-padre .songs-festival-container-hijo .songs-title {
  font-family: Chivo;
  font-size: 2.5rem;
  color: #f4f9e9;
  padding-bottom: 2rem;
}

.songs-fastival-container-padre .song-preview-container .song-preview-container-hijo {
  padding-bottom: 2rem;
}

.svg-2 {
  position: relative;
  top: -5px;
}

.newsletter-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  padding-bottom: 3rem;
}

.newsletter-main .newsletter-main-title {
  font-family: Chivo;
  font-size: 2.5rem;
  letter-spacing: 2px;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.newsletter-main .newsletter-subtitle {
  font-family: Roboto Slab;
  font-size: 1.7rem;
  text-align: center;
  padding-bottom: 2rem;
}

.newsletter-main .newsletter-subtitle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.newsletter-main .newsletter-subtitle-container .input-text-nl {
  width: 80%;
  height: 3rem;
  margin-bottom: 2rem;
  border-style: none;
  background-color: #2a2b29;
  border-radius: 5px;
  text-align: center;
  font-family: Roboto Slab;
  /* .input-text-nl::placeholder {
                        color: $mainColor2;
                        font-size: 2rem;
                    }  */
}

.newsletter-main .newsletter-subtitle-container .input-btn-nl {
  width: 70%;
  height: 3.7rem;
  border-style: none;
  background-color: #fac418;
  border-radius: 5px;
  font-family: Chivo;
  font-size: 1.5rem;
}

/* .svg-3 {
    position: relative;
} */
.main-footer {
  background-color: #141313;
  position: relative;
  top: -5px;
}

.main-footer .footer-container {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.main-footer .footer-title {
  color: #f4f9e9;
  font-family: Chivo;
  text-align: center;
  padding-bottom: 2rem;
}

.main-footer .footer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 70%;
  padding-bottom: 4rem;
}

.main-footer .footer-img .social-logo {
  width: 3rem;
}
/*# sourceMappingURL=style.css.map */